:root {

    --primary-color: #393d3f;
    --text-color: #fdfdff;
    --secoundary-color: #c6c5b9;
    --fourth-color: #62929e;
    --fifth-color: #546a7b;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--primary-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    overflow-y: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    margin: 0;

    color-scheme: light dark;
    color: var(--text-color);
    background-color: var(--primary-color);
}

header {
    height: 15vh;
    font-size: 64px;
    border-bottom: 2px solid var(--secoundary-color);
    width: 100vw;
    padding-left: 1em;
}

.section {
    background-color: var(--secoundary-color);
    margin: 3em;
    padding: 0.5em;
    border: 5px solid var(--fourth-color);
    border-radius: 5px 5px;
    box-shadow: 10px 10px var(--fifth-color);
}

#laptop-specs>p {
    margin-bottom: 0;
}


#firework-text {
    position: absolute;
    top: 50%;
    right: 36%;
    font-size: 3em;
    color: tomato;
}

#modal-bg {
    background: #00000094;
}